In [2]:
import numpy as np
import pandas as pd

In [3]:
matches = pd.read_csv('matches.csv',parse_dates = ["date"],dayfirst = True)
deliveries = pd.read_csv('deliveries.csv')

In [4]:
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [5]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [6]:
matches.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [7]:
deliveries.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [ ]:
deliveries.columns = deliveries.columns.str.strip().str.lower()
deliveries.columns

In [8]:
df = pd.merge(deliveries,matches,left_on='match_id', right_on='id')
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

In [9]:
df['season'].unique()

array([2017, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2018,
       2019], dtype=int64)

In [10]:
df['season'].value_counts()

2013    18177
2012    17767
2011    17013
2010    14498
2019    14328
2014    14300
2018    14290
2016    14096
2017    13862
2015    13652
2009    13606
2008    13489
Name: season, dtype: int64

In [11]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    datetime64[ns]
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: datetime64[ns](1), int64(5), object(12)
memory usage: 106.4+ KB

In [12]:
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [13]:
matches.shape

(756, 18)

In [14]:
deliveries.shape

(179078, 21)

In [15]:
df.shape

(179078, 39)

In [16]:
df['city']

0         Hyderabad
1         Hyderabad
2         Hyderabad
3         Hyderabad
4         Hyderabad
            ...
179073    Hyderabad
179074    Hyderabad
179075    Hyderabad
179076    Hyderabad
179077    Hyderabad
Name: city, Length: 179078, dtype: object

In [17]:
grouped_df = df.groupby('city')
grouped_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152050,7901,1,Kings XI Punjab,Royal Challengers Bangalore,1,1,KL Rahul,MA Agarwal,CR Woakes,0,...,normal,0,Royal Challengers Bangalore,0,4,UT Yadav,M Chinnaswamy Stadium,S Ravi,A.D Deshmukh,C Shamshuddin
152051,7901,1,Kings XI Punjab,Royal Challengers Bangalore,1,2,KL Rahul,MA Agarwal,CR Woakes,0,...,normal,0,Royal Challengers Bangalore,0,4,UT Yadav,M Chinnaswamy Stadium,S Ravi,A.D Deshmukh,C Shamshuddin
152052,7901,1,Kings XI Punjab,Royal Challengers Bangalore,1,3,KL Rahul,MA Agarwal,CR Woakes,0,...,normal,0,Royal Challengers Bangalore,0,4,UT Yadav,M Chinnaswamy Stadium,S Ravi,A.D Deshmukh,C Shamshuddin
152053,7901,1,Kings XI Punjab,Royal Challengers Bangalore,1,4,KL Rahul,MA Agarwal,CR Woakes,0,...,normal,0,Royal Challengers Bangalore,0,4,UT Yadav,M Chinnaswamy Stadium,S Ravi,A.D Deshmukh,C Shamshuddin
152054,7901,1,Kings XI Punjab,Royal Challengers Bangalore,1,5,KL Rahul,MA Agarwal,CR Woakes,0,...,normal,0,Royal Challengers Bangalore,0,4,UT Yadav,M Chinnaswamy Stadium,S Ravi,A.D Deshmukh,C Shamshuddin

In [18]:
city_seasons_count = df['city'].value_counts().idxmax()
city_seasons_count

'Mumbai'

In [19]:
df['year']=df['date'].dt.year
most_year = df['year'].value_counts().idxmax()
most_year

2013

In [103]:
df[df['winner']== 'Mumbai Indians']['season']

1424      2017
1425      2017
1426      2017
1427      2017
1428      2017
          ...
179073    2019
179074    2019
179075    2019
179076    2019
179077    2019
Name: season, Length: 26305, dtype: int64

In [108]:
# Maximum wins by Mumbai Indians in 2011 are

max_win = df[(df['winner']== 'Mumbai Indians') & (df['year']==2011)]
maxi = max_win['winner'].count
maxi

<bound method Series.count of 56181    Mumbai Indians
56182    Mumbai Indians
56183    Mumbai Indians
56184    Mumbai Indians
56185    Mumbai Indians
              ...
71968    Mumbai Indians
71969    Mumbai Indians
71970    Mumbai Indians
71971    Mumbai Indians
71972    Mumbai Indians
Name: winner, Length: 2416, dtype: object>

In [93]:
df['year']['winner'].value_counts()

KeyError: 'winner'

In [21]:
df['toss_decision'].unique()

array(['field', 'bat'], dtype=object)

In [22]:
print(df['toss_decision'].value_counts())
total = df['toss_decision'].count()
print(total)

field    109222
bat       69856
Name: toss_decision, dtype: int64
179078

In [23]:
field = df[df['toss_decision']=='field']['toss_decision'].value_counts()
bat = df[df['toss_decision'] == 'bat']['toss_decision'].value_counts()

field_per = (field*100)/total
bat_per = (bat*100)/total

In [24]:
print(field_per.round(2))
print(bat_per)

field    60.99
Name: toss_decision, dtype: float64
bat    39.0087
Name: toss_decision, dtype: float64

In [25]:
max_win = df[df['winner']== 'Mumbai Indians']
win = max_win['year'].value_counts()
win

2013    3173
2017    2888
2010    2704
2019    2671
2015    2457
2012    2443
2011    2416
2014    1685
2016    1684
2008    1509
2018    1470
2009    1205
Name: year, dtype: int64

In [26]:
field_winner = df[(df['toss_winner']==df['winner']) & (df['toss_decision'] == 'field')].shape[0]
field_winner

60110

In [27]:
bat_winner = df[(df['toss_winner']==df['winner']) & (df['toss_decision'] == 'bat')].shape[0]
bat_winner

32804

In [28]:
# 9. In which years where taking batting second have won more number of matches?

In [116]:
bat_year = df[(df['toss_winner']==df['winner']) & (df['toss_decision'] != 'field')].shape[0]
bat_year

32804

In [30]:
batting_second_wins = df[df['winner'] == df['team2']]['year'].value_counts()

# Display the years where teams batting second won more matches
years_with_more_batting_second_wins = batting_second_wins[batting_second_wins == batting_second_wins.max()].index.tolist()
print("Years where teams batting second won more matches:", years_with_more_batting_second_wins)

Years where teams batting second won more matches: [2016]

In [31]:
df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder', 'id', 'season', 'city', 'date', 'team1',
       'team2', 'toss_winner', 'toss_decision', 'result', 'dl_applied',
       'winner', 'win_by_runs', 'win_by_wickets', 'player_of_match', 'venue',
       'umpire1', 'umpire2', 'umpire3', 'year'],
      dtype='object')

In [32]:
# To plot the most consistent batsmen among top 10 run getters, what plotting technique we use?
# In 2019 which batsman scored highest number of runs by hitting 6's and 4's?

player_runs = df.groupby(['year','batsman'])['batsman_runs'].agg(['count', 'sum']).reset_index()
player_runs.columns = ['year','Player', 'Matches_Played', 'Total_Runs']

# Sort the players by total runs in descending order
player_runs = player_runs.sort_values(by='Total_Runs', ascending=False)

In [33]:
player_2019 = player_runs[player_runs['year']==2019]
player_2019

      year      Player  Matches_Played  Total_Runs
1696  2019   DA Warner             496         727
1731  2019    KL Rahul             447         610
1765  2019   Q de Kock             406         555
1674  2019  AD Russell             274         545
1780  2019    S Dhawan             392         542
...    ...         ...             ...         ...
1747  2019   MM Sharma               2           0
1717  2019     J Denly               1           0
1722  2019     K Ahmed               1           0
1761  2019       P Raj               1           0
1758  2019   P Krishna               2           0

[144 rows x 4 columns]

In [34]:
# Most number of wickets taken by a bowler is

df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder', 'id', 'season', 'city', 'date', 'team1',
       'team2', 'toss_winner', 'toss_decision', 'result', 'dl_applied',
       'winner', 'win_by_runs', 'win_by_wickets', 'player_of_match', 'venue',
       'umpire1', 'umpire2', 'umpire3', 'year'],
      dtype='object')

In [35]:
df['dismissal_kind'].unique()

array([nan, 'caught', 'bowled', 'run out', 'lbw', 'caught and bowled',
       'stumped', 'retired hurt', 'hit wicket', 'obstructing the field'],
      dtype=object)

In [36]:
df['bowler'].unique()

array(['TS Mills', 'A Choudhary', 'YS Chahal', 'S Aravind', 'SR Watson',
       'TM Head', 'STR Binny', 'A Nehra', 'B Kumar', 'BCJ Cutting',
       'Rashid Khan', 'DJ Hooda', 'MC Henriques', 'Bipul Sharma',
       'AB Dinda', 'DL Chahar', 'BA Stokes', 'Imran Tahir', 'A Zampa',
       'R Bhatia', 'TG Southee', 'HH Pandya', 'MJ McClenaghan',
       'JJ Bumrah', 'KH Pandya', 'KA Pollard', 'TA Boult', 'PP Chawla',
       'SP Narine', 'CR Woakes', 'Kuldeep Yadav', 'YK Pathan', 'P Kumar',
       'DS Kulkarni', 'MS Gony', 'S Kaushik', 'DR Smith', 'SB Jakati',
       'Sandeep Sharma', 'MM Sharma', 'AR Patel', 'T Natarajan',
       'MP Stoinis', 'Swapnil Singh', 'DT Christian', 'RD Chahar',
       'Z Khan', 'CH Morris', 'PJ Cummins', 'S Nadeem', 'A Mishra',
       'CR Brathwaite', 'B Stanlake', 'Iqbal Abdulla', 'P Negi',
       'SK Raina', 'Tejas Baroka', 'Basil Thampi', 'SL Malinga',
       'Harbhajan Singh', 'AS Rajpoot', 'VR Aaron', 'CJ Anderson',
       'Mustafizur Rahman', 'UT Yadav', 'C de Grandhomme', 'I Sharma',
       'GJ Maxwell', 'S Badree', 'AJ Tye', 'RA Jadeja', 'Ankit Sharma',
       'LH Ferguson', 'SN Thakur', 'KC Cariappa', 'MM Patel', 'AF Milne',
       'JD Unadkat', 'NM Coulter-Nile', 'Mohammed Shami', 'AD Mathews',
       'BB Sran', 'S Kaul', 'Mohammad Nabi', 'J Yadav', 'Mohammed Siraj',
       'Yuvraj Singh', 'JP Faulkner', 'Shakib Al Hasan', 'K Rabada',
       'MG Johnson', 'Washington Sundar', 'SS Agarwal', 'NB Singh',
       'KV Sharma', 'RA Tripathi', 'Ankit Soni', 'Anureet Singh',
       'IK Pathan', 'PJ Sangwan', 'MN Samuels', 'MJ Henry', 'R Tewatia',
       'R Vinay Kumar', 'Avesh Khan', 'HV Patel', 'CJ Jordan',
       'AA Noffke', 'JH Kallis', 'SB Joshi', 'CL White', 'AB Agarkar',
       'SC Ganguly', 'LR Shukla', 'B Lee', 'S Sreesanth', 'JR Hopes',
       'K Goel', 'WA Mota', 'JDP Oram', 'M Muralitharan', 'P Amarnath',
       'Joginder Sharma', 'GD McGrath', 'B Geeves', 'MF Maharoof',
       'DL Vettori', 'SK Trivedi', 'SK Warne', 'D Salunkhe', 'B Akhil',
       'SM Pollock', 'ST Jayasuriya', 'AM Nayar', 'M Kartik',
       'Mohammad Hafeez', 'DJ Hussey', 'WPUJC Vaas', 'RP Singh',
       'SB Styris', 'SB Bangar', 'A Symonds', 'PP Ojha', 'Pankaj Singh',
       'Mohammad Asif', 'VY Mahesh', 'Shahid Afridi', 'DJ Bravo',
       'VS Yeligati', 'MA Khote', 'D Kalyankrishna', 'VRV Singh',
       'Sohail Tanvir', 'A Kumble', 'DNT Zoysa', 'SD Chitnis',
       'Shoaib Malik', 'DW Steyn', 'JA Morkel', 'CRD Fernando', 'V Kohli',
       'V Sehwag', 'Gagandeep Singh', 'Y Venugopal Rao', 'Umar Gul',
       'M Ntini', 'DP Vijaykumar', 'DB Ravi Teja', 'LPC Silva',
       'DJ Thornely', 'RR Raje', 'S Vidyut', 'L Balaji', 'CK Kapugedera',
       'AD Mascarenhas', 'Shoaib Akhtar', 'RR Powar', 'PM Sarvesh Kumar',
       'Abdur Razzak', 'TM Dilshan', 'RG Sharma', 'A Nel', 'BAW Mendis',
       'T Thushara', 'A Flintoff', 'Kamran Khan', 'T Henderson',
       'JD Ryder', 'DP Nannes', 'AM Salvi', 'YA Abdulla', 'VS Malik',
       'FH Edwards', 'Harmeet Singh', 'CH Gayle', 'KP Pietersen',
       'LRPL Taylor', 'RS Bopara', 'MK Tiwary', 'RR Bose', 'KP Appanna',
       'Shoaib Ahmed', 'BJ Hodge', 'SR Tendulkar', 'RE van der Merwe',
       'JP Duminy', 'S Tyagi', 'GR Napier', 'SM Harwood', 'AS Raut',
       'D du Preez', 'RJ Harris', 'TL Suman', 'A Singh', 'M Morkel',
       'LA Carseldine', 'A Mithun', 'C Nanda', 'SS Sarkar', 'AM Rahane',
       'J Botha', 'Mashrafe Mortaza', 'AB McDonald', 'Y Nagar',
       'CK Langeveldt', 'R Ashwin', 'RA Shaikh', 'Jaskaran Singh',
       'SW Tait', 'A Uniyal', 'AA Jhunjhunwala', 'R McLaren',
       'AG Murtaza', 'R Sathish', 'RS Gavaskar', 'JM Kemp', 'S Ladda',
       'SE Bond', 'S Narwal', 'SJ Srivastava', 'AC Voges', 'R Sharma',
       'J Theron', 'NLTC Perera', 'KAJ Roach', 'PD Collingwood',
       'C Ganapathy', 'MB Parmar', 'SB Wagh', 'DE Bollinger', 'AP Dole',
       'AN Ahmed', 'FY Fazal', 'MR Marsh', 'L Ablish', 'S Sriram',
       'AJ Finch', 'ND Doshi', 'S Randiv', 'AL Menaria', 'AUK Pathan',
       'RV Gomez', 'JEC Franklin', 'AC Thomas', 'WD Parnell', 'M Manhas',
       'NJ Rimmington', 'RN ten Doeschate', 'BA Bhatt', 'JJ van der Wath',
       'R Ninan', 'PC Valthaty', 'S Dhawan', 'J Syed Mohammad',
       'NL McCullum', 'JE Taylor', 'KMDN Kulasekara', 'P Parameswaran',
       'I Malhotra', 'B Chipli', 'AA Kazi', 'Anand Rajan', 'P Prasanth',
       'Y Gnaneswara Rao', 'AA Chavan', 'S Rana', 'SS Mundhe', 'RW Price',
       'M de Lange', 'KK Cooper', 'DAJ Bracewell', 'DJ Harris',
       'TP Sudhindra', 'F du Plessis', 'GB Hogg', 'RR Bhatkal', 'P Awana',
       'V Pratap Singh', 'CJ McKay', 'AD Russell', 'A Ashish Reddy',
       'Azhar Mahmood', 'A Chandila', 'LJ Wright', 'RJ Peterson',
       'R Shukla', 'MJ Clarke', 'BW Hilfenhaus', 'SPD Smith',
       'K Upadhyay', 'Sunny Gupta', 'B Laughlin', 'GH Vihari',
       'BMAJ Mendis', 'Harmeet Singh (2)', 'R Dhawan', 'R Rampaul',
       'SMSM Senanayake', 'JO Holder', 'IC Pandey', 'DJG Sammy',
       'KW Richardson', 'P Suyal', 'PV Tambe', 'BJ Rohrer',
       'Parvez Rasool', 'MG Neser', 'AC Gilchrist', 'MA Starc',
       'JDS Neesham', 'M Vijay', 'SA Yadav', 'Shivam Sharma', 'V Shankar',
       'LMP Simmons', 'K Santokie', 'S Gopal', 'BE Hendricks',
       'JW Hastings', 'Karanveer Singh', 'DJ Muthuswami', 'SA Abbott',
       'J Suchith', 'RG More', 'D Wiese', 'GS Sandhu', 'Gurkeerat Singh',
       'M Ashwin', 'C Munro', 'P Sahu', 'KJ Abbott', 'T Shamsi',
       'SM Boland', 'Sachin Baby', 'N Rana', 'KS Williamson', 'M Wood',
       'M Markande', 'M Ur Rahman', 'K Khejroliya', 'K Gowtham',
       'D Short', 'T Curran', 'A Dananjaya', 'S Mavi', 'J Archer',
       'L Plunkett', 'I Sodhi', 'M Lomror', 'L Ngidi', 'KM Asif',
       'D Willey', 'P Krishna', 'M Ali', 'J Searles', 'S Lamichhane',
       'J Dala', 'K Ahmed', 'N Saini', 'S Dube', 'L Ferguson', 'S Sharma',
       'R Salam', 'K Paul', 'S Curran', 'V Chakravarthy', 'H Viljoen',
       'Mandeep Singh', 'P R Barman', 'M Santner', 'H Vihari',
       'J Behrendorff', 'S Kuggeleijn', 'A Joseph', 'H Gurney',
       'S Midhun', 'R Parag', 'L Livingstone', 'SN Khan', 'S Rutherford',
       'H Brar', 'P Raj', 'O Thomas', 'A Roy', 'S Warrier'], dtype=object)

In [37]:
wicket = df.groupby('bowler')['dismissal_kind'].count().idxmax()
wicket

'SL Malinga'

In [109]:
# What is the strike rate of Kohli in 2016

kohli = df[(df['batsman'] == 'V Kohli')&(df['year']==2016)]

total_runs = kohli['batsman_runs'].sum()
print(total_runs)
ball_faced = kohli['ball'].count()
print(ball_faced)

973
655

In [44]:
strike_rate = (total_runs / ball_faced) * 100
strike_rate

148.54961832061068

In [46]:
# Bowlers with maximum number of extras:

extra= df.groupby('bowler')['extra_runs'].sum().idxmax()
extra

'SL Malinga'

In [48]:
venue= df['venue'].value_counts().idxmax()
venue

'Eden Gardens'

In [57]:
#  In 2017 when sunrisers hyderabad clashed against 
#Royal Challengers Bangalore which team player won player
#of the match?

player_match = df[(df['year']==2017) & (df['team1']=='Sunrisers Hyderabad') & (df['team2']=='Royal Challengers Bangalore')]['player_of_match']
player_match

0      Yuvraj Singh
1      Yuvraj Singh
2      Yuvraj Singh
3      Yuvraj Singh
4      Yuvraj Singh
           ...
243    Yuvraj Singh
244    Yuvraj Singh
245    Yuvraj Singh
246    Yuvraj Singh
247    Yuvraj Singh
Name: player_of_match, Length: 248, dtype: object

In [110]:
 # Across seasons who are the top three batsman's with most number of run out?

run_out = df[df['dismissal_kind']== 'run out']
runout = run_out['batsman'].value_counts().head(5)

In [111]:
runout

MS Dhoni      21
RG Sharma     17
KD Karthik    16
G Gambhir     15
V Kohli       15
Name: batsman, dtype: int64

In [69]:
# What are the total runs scored by V Kohli when the bowler was JJ Burmah?

tot_run = df[(df['batsman']== 'V Kohli') & (df['bowler'] == 'JJ Bumrah')]
totrun = tot_run['total_runs'].sum()
totrun

114

In [71]:
# Across all seasons which player was dismissed the maximum number of times via caught and bowled

dismis = df[(df['dismissal_kind']=='caught and bowled')]
batsman = dismis['batsman'].value_counts()
batsman

SK Raina      7
RG Sharma     6
AT Rayudu     5
RA Jadeja     5
R Dravid      5
             ..
AB Agarkar    1
ML Hayden     1
IK Pathan     1
MK Tiwary     1
JC Buttler    1
Name: batsman, Length: 120, dtype: int64

In [73]:
player_total_runs = df.groupby('batsman')['batsman_runs'].sum()
player_total_runs

batsman
A Ashish Reddy     280
A Chandila           4
A Chopra            53
A Choudhary         25
A Dananjaya          4
                  ...
YV Takawale        192
Yashpal Singh       47
Younis Khan          3
Yuvraj Singh      2765
Z Khan             117
Name: batsman_runs, Length: 516, dtype: int64

In [74]:
player_boundaries = df[df['batsman_runs'].isin([4, 6])].groupby('batsman')['batsman_runs'].count()
player_boundaries

batsman
A Ashish Reddy     31
A Chopra            7
A Choudhary         2
A Flintoff          7
A Hales            19
                 ...
YK Pathan         425
YV Takawale        29
Yashpal Singh       5
Yuvraj Singh      367
Z Khan             13
Name: batsman_runs, Length: 424, dtype: int64

In [75]:
balls_faced = df.groupby('batsman')['ball'].count()
balls_faced

batsman
A Ashish Reddy     196
A Chandila           7
A Chopra            75
A Choudhary         20
A Dananjaya          5
                  ...
YV Takawale        183
Yashpal Singh       67
Younis Khan          7
Yuvraj Singh      2207
Z Khan             141
Name: ball, Length: 516, dtype: int64

In [77]:
player_strike_rate = (player_total_runs / balls_faced) * 100
player_strike_rate

batsman
A Ashish Reddy    142.857143
A Chandila         57.142857
A Chopra           70.666667
A Choudhary       125.000000
A Dananjaya        80.000000
                     ...
YV Takawale       104.918033
Yashpal Singh      70.149254
Younis Khan        42.857143
Yuvraj Singh      125.283190
Z Khan             82.978723
Length: 516, dtype: float64

In [78]:
hard_hitting_ability = (player_boundaries * 4 + (player_total_runs - 4 * player_boundaries)) / balls_faced * player_strike_rate
hard_hitting_ability

batsman
A Ashish Reddy    204.081633
A Chandila               NaN
A Chopra           49.937778
A Choudhary       156.250000
A Dananjaya              NaN
                     ...
YV Takawale       110.077936
Yashpal Singh      49.209178
Younis Khan              NaN
Yuvraj Singh      156.958777
Z Khan             68.854685
Length: 516, dtype: float64

In [80]:
player_highest_ability = hard_hitting_ability.idxmax()
highest_ability_score = hard_hitting_ability.max()
print(player_highest_ability)
print(highest_ability_score)

B Stanlake
625.0

In [112]:
# Filter data for matches where the team batting second won
batting_second_wins = df[df['win_by_wickets'] > 0]

# Calculate the count of matches won by teams batting second for each year
batting_second_wins_by_year = batting_second_wins.groupby('year')['win_by_wickets'].count()

# Find the years where batting second had more wins
years_more_batting_second_wins = batting_second_wins_by_year[batting_second_wins_by_year == batting_second_wins_by_year.max()]

print("Years where batting second won more matches:")
print(years_more_batting_second_wins)

Years where batting second won more matches:
year
2012    9402
Name: win_by_wickets, dtype: int64